[Unit]
Description=Start the HDW4S ephemeral desktop in slot %i
Documentation=man:hdw4s(8)

[Service]
Type=oneshot
ExecStart=/usr/lib/hdw4s/hdw4s-start %i
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectClock=yes
RestrictAddressFamilies=AF_UNIX
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
TimeoutStartSec=30
